<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIRTH CERT API </title>
</head>
<body>
    <h>End Points</h>
    <p>/reg/</p> <a href="/tryReg/">Try this endpoint</a>
    <br> 
    <p1>for registering users </p1>
    <p2>pass the following as variales/ parameters </p2>
    <li>name</li>
    <li>username</li>
    <li>password</li>
    <li>email</li>
    <li>dob</li>
    <br>
    <br>
    <br>
    <p>/login/</p> <a href="/tryAuth/">Try This Endpoint</a>
    <br> 
    <p1>for Authenticating a User </p1>
    <p2>pass the following as variales / parameters </p2>
    
    <li>username</li>
    <li>password</li>

</body>
</html>